:root {

  --body-background: #ff9800;
  --body-margin-top: 70px;
  --body-margin-bottom: 200px;

  --scrollbar-background-color: #272727;
  --scrollbar-color: #ffeb3b;
  --scrollbar-box-shadow-color: #4caf50;
}

body {
  margin-top: 100px;
  margin-bottom: 100px;
}

.brand-title {
  margin-top: 5px !important;
}
.brand-title a {
  border-radius: 10px;
  padding: 8px;
  box-shadow: 1px 1px 10px 0px #000;
}
.brand-title a:hover {
  font-size: 20px;
}
a {
  cursor: pointer;
}

fieldset legend {
  background: none;
}

.help-container {
  bottom: 50px;
}

.tabs .tabs-header .tab-link {
  font-size: 16px;
}

.tabs .tabs-header .tab-link.active {
  background-color: #5369e0;
  padding-right: 30px;
}

.tabs .tabs-header .tab-link:hover {
  background-color: #5369e0;
  padding-right: 30px;
}

.table th {
  background-color: #677cf1 !important;
  color: #ffffff !important;
}

.userPrint {
  user-select: all;
}

popup item:hover {
  background: #3f51ff;
  color: #ffffff;
}

.main-menu {
  z-index: 9999999999;
  position: fixed;
  width: auto;
  right: 0px;
  top: 60px;
  overflow: auto;
  height: 100vh;
  padding: 40px;
  text-align: center;
  box-shadow: 1px 1px 3px 1px #000;
  background: #fff;
  border-radius: 0px 0px 0px 0px;
}

.modal {
  background-color: #0000006e;
  z-index: 999999;
}

.modal-body {
  overflow-y: auto;
}

.modal.small .modal-content,
.modal-content.small {
  width: 50%;
}

nav.sitebar {
  z-index: 999999;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 1px 1px 1px 1px #555;
  background: var(--theme-color);
  border-radius: 0px 0px 0px 0px;
  padding: 3px;
}

nav .brand {
  margin: 0px;
  padding: 5px;
}

nav .brand a {
  font-weight: bold;
  color: #ffeb3b;
  text-decoration: none;
}

nav .brand a span {
  font-size: 12px;
  color: #ffffff;
}

nav .brand a i {
  color: #000;
}

a.site-setting {
  text-align: center !important;
  border-radius: 5px;
}
a.site-setting i {
  margin-right: 5px;
  font-size: 22px;
  color: #000 !important;
}
nav .links {
  display: none;
  -webkit-animation-name: var(--modal-animation-name);
  -webkit-animation-duration: var(--modal-animation-duration);
  animation-name: var(--modal-animation-name);
  animation-duration: var(--modal-animation-duration);
}

nav .links ul {
  list-style: none;
}

nav .links ul li {
  display: inline-block;
  margin: 3px;
  padding: 3px;
}

nav .links ul li a {
  color: #030303;
}

nav .info {
  font-weight: bold;
  display: inline-flex;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

nav .info .user-name {
  color: #bbbbbb;
}

#btn_login {
  color: #fff;
  padding: 8px;
  font-weight: normal;
  box-shadow: 1px 1px 10px 0px #272727;
  border-radius: 5px;
  margin-left: 20px;
  min-width: 100px;
  font-size: 14px;
  text-align: center !important;
  transition: all 0.2s ease;
}
#btn_login:hover {
  font-size: 16px;
}
#btn_logout {
  color: #fff;
  padding: 8px;
  font-weight: normal;
  box-shadow: 1px 1px 10px 0px #272727;
  border-radius: 5px;
  margin-left: 20px;
  min-width: 100px;
  font-size: 14px;
  text-align: center !important;
  transition: all 0.2s ease;
}
#btn_register {
  color: #fff;
  padding: 8px;
  font-weight: normal;
  box-shadow: 1px 1px 10px 0px #272727;
  border-radius: 5px;
  margin-left: 20px;
  min-width: 100px;
  font-size: 14px;
  text-align: center !important;
  transition: all 0.2s ease;
}

nav.sitebottom {
  z-index: 999999;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #000000;
  color: #ffffff;
  border: 2px solid #000;
}

nav.sitebottom a.link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  padding-right: 10px;
  margin: 5px;
  border-right: 1px solid #ffffff;
  display: inline-block;
}

nav.sitebottom a.link:hover {
  background: #fff;
  color: #444;
}

.footer {
  margin: 20px;
  border: 1px solid #bbb;
  padding: 5px;
}
.footer h2 {
  font-weight: bold;
  color: #000;
}
.footer h2 span {
  font-weight: bold;
  color: green;
}

.btn.true {
  width: 20px;
  height: 33px;
  font-size: 13px;
  padding-left: 18px;
  padding-top: 10px;
  background: #118011;
  font-weight: bold;
}

.redDot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.greenDot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.blueDot {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.logoPrint {
  width: 140px;
  height: 120px;
  margin: 1px;
  padding: 1px;
  border-radius: 0;
  border: 1px solid var(--background-color);
}

@media screen and (max-width: 768px) {
  .tabs .tabs-header .tab-link {
    font-size: 12px;
    padding: 5px;
    margin: 1px;
  }
  .tabs .tabs-header .tab-link.active,
  .tabs .tabs-header .tab-link:hover {
    background-color: #5369e0;
    padding: 5px;
    margin: 1px;
  }

  .tab-link span {
    padding: 1px;
  }
  .modal.small .modal-content,
  .modal-content.small {
    width: 90%;
  }
  .main-menu {
    top: 84px;
  }

  .userPrint {
    user-select: all;
  }
}
