:root {
  --body-margin-top: 100px;
  --navbar-background-color: #ffffff;

  --scrollbar-background-color: #9e9e9e;
  --scrollbar-color: #000000;
  --scrollbar-box-shadow-color: #9e9e9e;
  --modal-header-background-color: #2196f3;
  --placeholder-color: #bbb;
  --btn-color: #000;
}

@media (max-width: 768px

  /*mobile*/) {
  .modal.small .modal-content {
    width: 90%;
  }
  .ad-center {
    margin-right: 0;
  }
  div,
  .row,
  fieldset,
  .container {
    max-width: inherit !important;
    margin: 0 !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

nav.sitebar {
  height: 60px;
}

nav.sitebar .brand a {
  background: var(--navbar-background-color);
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-shadow: none;
  vertical-align: top;
  display: inline-block;
}
.en nav.sitebar .brand a {
  float: left;
}
nav.sitebar .brand a span {
  color: #3f51b5;
}

nav.sitebar ul.links li {
  margin-top: 6px;
  color: var(--navbar-color);
  display: inline-block;
}

input.search {
  width: 100%;
  font-size: 16px;
  height: 50px;
  border: 1px solid #03a9f4;
  text-align: left;
  color: #f44336;
}

.no-data {
  font-size: 22px;
  text-align: center;
  color: #e91e63;
}

.btn {
  min-width: 120px !important;
}
p {
  word-break: break-word !important;
}
a {
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::placeholder {
  color: var(--placeholder-color);
}
.ad-center {
  display: block;
  width: 80vw;
  margin-right: auto;
}
