:root {
    --font-family: 'Droid', serif;
}

.google-news {
    line-height: 1.3em;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-top: 7px !important;
    margin-bottom: 25px !important;
    border-radius: 8px;
    width: 90%;
    height: auto;
    border: 3px solid #eee;
    text-align: center;
}

.google-news .body .image {
    width: 100%;
    height: 100%;
    border: 3px solid #bbbbbb;
    padding: 3px;
}
.google-news.mini {
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
}
.google-news .body .image.mini {
    max-width: 200px;
}

.google-news .text {
    line-height: 1.8em;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.google-news .description {
    font-size: 16px;
    color: #000;
}

.full-google-news {
    width: 100% !important;
    border: none !important;
}
.full-google-news .body .image {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}

.full-google-news .body .title {
    position: relative;
    line-height: 1.8em;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.full-google-news .body .text {
    position: relative;
    line-height: 1.8em;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
.full-google-news .body p {
    font-size: 20px;
    line-height: 3;
}
